// Maincolor
$xdark: #2a1e58;
$dark: #3d3e82;
$medium: #5b5c99;
$medlight: #8284ba;
$light: #d0d0ed;
$xlight: #f3f3f9;

// Status colors
$mc-orange: #ec7a23;
$mc-blue: #5bc8d0;
$mc-purple: $medlight;
$danger: #ff3860;

// Greys
$xdarkgrey: #282828;
$darkgrey: #7e7e7e;
$medgrey: #ccc;
$lightgrey: #f0f0f0;
$white: #fff;

// Radius
$radius-small: 3px;
$radius-large: 6px;

// Font family
$font-family-primary: 'Source Sans Pro', sans-serif;

$header-height: 60px;
